.movie__detailsPage__container {
    padding: 50px;
}

.back__btn {
    font-family: "Bebas Neue", sans-serif;
    font-size: 28px;
    color: white;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 120px;
    height: 30px;
    margin-bottom: 20px;
    transition: all 400ms linear;
}

.back__btn__icon {
    height: 100%;
    width: auto;
}

.back__btn:hover {
    color: red;
}

.infoList {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.infoLink:after {
    content: "";
    display: block;
    width: 95%;
    height: 4px;
    background: currentColor;
    transform: scale(0);
    transform-origin: center right;
    transition: transform 400ms ease-in-out;
}

.infoLink:hover:after {
    transform: scale(1.1);
    transform-origin: center left;

}