.container {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    /* border-bottom: 3px solid #A2B5BB; */
}

.imageWrapper {
    width: 340px;
}

.imageWrapper>img {
    width: 100%;
    object-fit: cover;
}

.textContainer {
    width: 680px;

}

.userScore {
    margin-bottom: 30px;
}

.overview {
    margin-bottom: 30px;
}