.navigation__container {
    padding: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: right;
    gap: 40px;
}

.link {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
}

.link:after {
    content: "";
    display: block;
    width: 95%;
    height: 4px;
    background: currentColor;
    transform: scale(0);
    transform-origin: center right;
    transition: transform 400ms ease-in-out;
}

.link:hover:after {
    transform: scale(1.1);
    transform-origin: center left;

}

.active__link {
    color: red;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
}